<div class="devise_page_container">

<h2 class="devise_page_title">Edit Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="devise_field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="devise_field">
    <%= f.label :name %><br />
    <%= f.text_field :user_name, class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="devise_field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="devise_field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="devise_field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="devise_field">
  <% if current_user.avatar.url.present? %>
  <%= image_tag(current_user.avatar.url, class: "devise_avatar_preview") %>
  <%= f.label :remove_avatar do %>
    <%= f.check_box :remove_avatar %>
    <% end %>
    <% end %>
    </div>

    # <div class="field">
    # <%= f.file_field :avatar %>
    # <%= f.hidden_field :avatar_cache %>
    # </div>
  <div class="devise_submit_wrapper">
    <%= f.submit "Update", class: "devise_submit_button" %>
  </div>
<% end %>

<br/>

<p>Not so happy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "devise_cancel_button" %></p>

<%= link_to "Back", :back %>

</div>
